:root {
    --basic-font: "Playfair Display", san-serif;
    --dark-color: #1E1E1E;
    --white-color: #FFFFFF;
    --special-font: "Clicker Script", san-serif;
    --creamy-color: #F9C06A;
    --brown-color: #603809;
    --gray-color: #707070;
    --border-color: #F9C06A6B;
    --creamy-white-color: #FFF9F1;
    --more-creamy-white-color: #FFEED8;
    





}


body {
    font-family: var(--basic-font);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--gray-color);
    margin-top: 0;
    margin-bottom: 0;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

  
a {
    text-decoration: none;
}

h1,
a,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    display: block;
 }
svg {
    margin: 0;
    
}

button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0px;
}
.button:hover {
    background-color: var(--brown-color) ;
    color: var(--white-color);
}


section {
    padding: 41px 0;
}

.container {
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.button {
    padding: 14px 27px;
    border-radius: 20px;
    background-color: var(--creamy-color);
    box-shadow: 0px 6px 12px 0px #F9C06A38;
    ;

}
header {
    padding-top: 0;
    background: 
        linear-gradient(89.82deg, #1E1E1E -6.88%, rgba(0, 0, 0, 0) 87.44%), /* Градієнт */
        url(../img/header_hero_back_img.jpg); /* Фонове зображення */
    background-position: center;
    background-position-y: start;
    height: 768px;
    
    background-repeat: no-repeat;
    background-size: 1600px;
    color: var(--white-color);
    
    
    
    
    .header-top {
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo {
            font-family: var(--special-font);
            font-size: 35px;
        }
        nav {
        
            .nav-list {
                display: flex;
                gap: 50px;
                color: var(--white-color);
                font-family: Playfair Display;
                font-size: 14px;
                font-weight: 500;
                line-height: 18.66px;
                text-align: left;
                li{
                    display: flex;
                    
                }
                
                a {
                    color: var(--white-color);
                }
   
            }
        
            
        }
        .registration-list {
            display: flex;
            gap: 30px;
            align-items: center;
            button {
                
                font-size: 14px;
                font-weight: 500;
                line-height: 18.66px;
                text-align: left;

            }
           .sing-in-link {
            border: 0px;
            background: none;
            color: var(--white-color);
            }
        }
    }

    .header-hero {
        padding-top: 116px;
        padding-left: 93px;
        padding-bottom: 84px;


    }
    .hero-title {
        
        font-family: Playfair Display;
        font-size: 22px;
        font-weight: 500;
        line-height: 29.33px;
        text-align: left;
        

    }
    .hero-mainTitle {
        font-family: Clicker Script;
        font-size: 220px;
        font-weight: 400;
        line-height: 290.58px;
        text-align: left;
        

    }
    .hero-paragraph {
        font-family: Playfair Display;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        max-width: 527px;
        padding-bottom: 20px;

    }
    .header-link a:hover {
        color: var(--more-creamy-white-color);
    }
    
   
}

.presentation {
    .container {
        display: flex;
        justify-content: space-around;
    }
    h2 {
        color: var(--brown-color);
        font-size: 54px;
        font-weight: 700;
        line-height: 71.98px;
        text-align: left;
        color: var(--brown-color);
    }
    p {
        padding: 29px 0px;
        max-width: 585px; ;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
    }

}

.ourMenu {
    h2 {
        color: var(--brown-color);
        font-size: 54px;
        font-weight: 700;
        line-height: 71.98px;
        text-align: center;
    }
    .ourMenu-paragraph {
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        padding: 16px 0 32px 0;
    }
    h4 {
        font-size: 22px;
        font-weight: 700;
        line-height: 29.33px;
        text-align: center;
        color: var(--brown-color);
        padding: 14px 0 6px 0;

    }
    .ourMenu-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        .ourMenu-list-item-inner {
            text-align: center; 
            p{
                color: var(--dark-color);
                font-size: 16px;
                font-weight: 400;
                line-height: 21.33px;
               
            }
    
            .price {
                color: var(--brown-color);
                font-family: Playfair Display;
                font-size: 18px;
                font-weight: 700;
                line-height: 23.99px;
                padding: 6px 0 16px 0;          
            }
        }
    }
        
    
}

.ourPreference {
    text-align: center;
    h2 {
        color: var(--brown-color);
        font-size: 54px;
        font-weight: 700;
        line-height: 71.98px;
        text-align: center;
    }
    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        
    }
    h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 37.32px;
        color: var(--brown-color);
        text-align: center;
    }
    .ourPreference-paragraph {
        padding: 16px 0 32px 0;
    }
    .ourPreference-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        
        .ourPreference-list-inner {
            padding: 36px 40px;
            text-align: center;
            border: 1px solid var(--border-color);
            background-color: var(--creamy-white-color);
           
            p{
                width: 176px;
                padding-top: 8px;
            }
        }
        .ourPreference-list-inner:hover{
            background-color: var(--more-creamy-white-color);
            border: 0px;
        }
    }
    .ourPreference-under-text {
        padding-top: 32px;
        padding-bottom: 24px;
    }

}


.banner-back-container {
    max-width: 1366px;
    max-height: 574px;
    background-image: url(../img/coffee_bean.png), url(../img/Banner-back.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position:  bottom right, center;
    margin: 0 auto;
  
    
}
.banner .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center
    
    
    
}
.banner-text {
    max-width: 575px;
    text-align: left;
    color: var(--white-color);
    h2 {
        
        font-size: 54px;
        font-weight: 700;
        line-height: 71.98px;
        
    }
    p{
        padding: 22px 0;
        max-width: 409px;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
      }
}

.cup {
    padding: 54px 100px 54px 0px;
     
}

.feedback-title {
    color: var(--brown-color);
    font-size: 54px;
    font-weight: 700;
    line-height: 71.98px;
    text-align: center;
    padding-bottom: 16px;
}
.feedback-under-title-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding-bottom: 45px;
}
.slider-container {
    position: relative;
    
}
.slider-button-list {
    width: 108.37%;
    max-width: 1064px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 2;
    position: absolute;
    top: 221px;
    left: -4.16%;
    
}
.feedback-text{
    
    position: relative;
    text-align: center;
    background-color: var(--creamy-white-color);
    border: 1px solid var(--border-color);
    margin: 0px 84px;
    height: 524px;
    max-width: 980px;
    
    
}
.quotation-mark {
    padding-top: 54px;
    padding-left: 29px;
    font-size: 220px;
    font-weight: 700;
    line-height: 112px;
    text-align: left;
    color: var(--brown-color);
    position: absolute;
}
.slideshow-container.active {
    display: block; /* Показуємо активний слайд */
}
.slideshow-container {
    display: none; /* За замовчуванням ховаємо всі слайди */
}

.feedback-text-paragraph {
    padding-top: 129px;
    max-width: 80%;
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
}
.feedback-text-clientName {
    font-size: 32px;
    font-weight: 700;
    line-height: 42.66px;
    text-align: center;
    color: var(--brown-color);
    padding-top: 28px;
    padding-bottom: 4px;   
}
.feedback-text-clientDiscription {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding-bottom: 101px;

}
.feedback-text-img-container {
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 16px;
    position: absolute; 
    bottom: -56px;
    left: 44.5%;
    
    
}
.feedback-text-img-container img {
    width: 100%; 
}
.slideshow-container.active {
    display: block; /* Показуємо тільки активний слайд */
}
.button-container{
    text-align: end;
}
.prev, .next{
    max-height: 82px;
    padding: 33px;
    background-color: var(--creamy-color);
    border-radius: 16px;
    svg {
       max-width: 16px;
       max-height: 16px;
    }
    
}

/* footer styles*/ 


.subscribe {
    margin-top: 97px;
    background-image: url(../img/Banner-back.jpg);
    background-size: 1366px;
    background-repeat: no-repeat;
    background-position: center;
}
.subscribe-title {
    font-size: 54px;
    font-weight: 700;
    line-height: 71.98px;
    color: var(--white-color);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 16px;

}
.subscribe-paragraph {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}
.subscribe-list {
    display: flex;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 80px;
    flex-grow: 1;
    
}
.subscribe-input-fild {
    height: 66px;
    max-width: 642px;
    width: 40vw;
    border: 1px solid var(--border-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    padding-left: 26px;
    border: 0;
    
}

.subscribe-button {
    flex-grow: 1;
    background-color: var(--creamy-color);
    color: var(--brown-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 29.33px;
    text-align: center;
    padding: 18px 24px 19px;
    height: 66px;
}
.subscribe-button:hover {
    background-color: var(--more-creamy-white-color);
    
    
}

footer {
    position: relative;
    color: var(--white-color);
    background-color: #603809;
    

    &::after {
        position: absolute;
        content: '';
        inset: 0;
        background-image: url(../img/fotter_image.png),
        linear-gradient(0deg, rgba(96,56,9,1) 0%, rgba(96,56,9,1) 100%);
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center bottom; 
        background-blend-mode: overlay;
        opacity: 0.8;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}


.footer-bottom-list {
    display: flex;
    gap: 66px;
    justify-content: space-around;
    padding-top: 162px;
    padding-bottom: 30px;
}
.footer-logo {
    color: var(--white-color);
    font-family: var(--special-font);
    font-size: 54px;
    font-weight: 400;
    line-height: 71.32px;
    text-align: left;
    padding-bottom: 20px;
}
.footer-title {
    
    font-size: 26px;
    font-weight: 700;
    line-height: 34.66px;
    text-align: left;
    padding-bottom: 55px;

}
.footer-discription-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    max-width: 380px;
    padding-bottom: 20px;

}
.social-list {
    display: flex;
    gap: 20px;
}
.footer-link {
   
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: var(--white-color);
}
address {
    font-style: normal; 
     max-width: 332px;
}        

